<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="app-title">Foods</span>
  <div class="spacer"></div>
  <app-login></app-login>
</div>

<div class="content" role="main">
  <ng-container *ngIf="auth.isAuthenticated$ | async; else notAuthenticated">
    <ng-container *ngIf="isAdmin$ | async; else notAuthorized">
      <mat-tab-group class="main-tabs" animationDuration="0ms">
        <mat-tab label="Foods">
          <app-foods></app-foods>
        </mat-tab>
        <mat-tab label="UserFoods">
          <app-user-foods-admin></app-user-foods-admin>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
  </ng-container>

  <ng-template #notAuthenticated>
    <div class="auth-message">
      <p>Please sign in to continue.</p>
    </div>
  </ng-template>

  <ng-template #notAuthorized>
    <div class="auth-message">
      <p>Not authorized. Admin role required.</p>
    </div>
  </ng-template>

  <footer>
    2025 Cloud Computing Associates, LLC Marty Mazurik
  </footer>
</div>
